@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Poppins:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
  font-weight: bolder;
}

body {
  overflow-x: hidden;
}

h1,h5{
  font-family: 'Orbitron';
}
/* RoadMap Styling */
.roadMaoContainer {
  background: #001233;
  padding-top: 182px;

}

.borderRight {
  border-right: 4px solid #6ADAFF;
}

.borderBottom {
  border-bottom: 4px solid #6ADAFF;
}

.boxSquare {
  border: 4px solid #6ADAFF;
  height: 50px;
  width: 50px;
  transform: rotate(45deg);
  background: #001233;
  color: white;
  font-size: 24px;
  position: absolute;
  top: -26px;
  right: -38px;
}

.boxEven {
  top: -26px;
  right: -39px;
}

.boxOdd {
  top: -26px;
  left: -39px;
}

.boxText {
  transform: rotate(-45deg);
  font-family: 'Orbitron';
}
.roadMapDate
{
  font-family: 'Orbitron';
  color: #6ADAFF;
}
.roadMapDesc {
  font-family: 'Poppins', sans-serif;
}

/* faq heading */
.containerFAQ {
  padding-top: 15rem;
  background-color: #001233;
  background-image: url('./assets/faqimage.png');
  background-size: cover;
  background-position: center top;
  text-align: center;
  border: 1px solid #001233;
}

/* Accordion Styling(FAQ) */
.accordionHeader button {
  background: #001233 !important;
  display: unset !important;
  text-align: center;
  color: white !important;
  border: 1px solid #6ADAFF;
  box-shadow: 0px 3px 36px rgba(106, 218, 255, 38%);
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
}

.description {
  font-family: 'Poppins', sans-serif !important;
  text-align: justify !important;
}

/* Footer Styling */
.footer {
  margin-top: 100px;
}

.iconCircle {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-color: #6ADAFF;
  font-size: 24px;
  color: #001233;
}

.iconCircle:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
  color: #ffff;
  cursor: pointer;
}

.iconContainerWidth {
  width: 15%;
  min-width: 125px
}

.footerNavBorder {
  border-top: 2px solid #6ADAFF;
}

.footerLinks {
  color: white;
  font-family: 'Orbitron';
}

.footerLinks:hover {
  color: #6ADAFF;
}

.footer-image-container {
  width: 346px
}

/* "headersection" */
.bakcolor {
  position: absolute;
  width: 100%;
}

.ankrtext {
  color: white;
  font-size: 18px !important;
  font-family: 'Orbitron';
}

.ankrtext:hover {
  color: #6ADAFF;
}

.mintbutt {
  width: 122px;
  height: 44px;
  background-color: #6ADAFF;
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Orbitron';
  margin: 0 0 0 9px;
}

.Navsec2 {
  margin: 0 0 0 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navsec1 {
  display: flex;
  justify-items: center;
  align-items: center;


}

.bakcolor {
  position: absolute;
  width: 100%;
  margin: 28px 0 0 0;
}



.icons {
  background-color: #6ADAFF;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.icons:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
  color: #ffff;
}

.mintbutt {
  width: 122px;
  height: 44px;
  background-color: #6ADAFF;
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Orbitron';
  margin: 0 0 0 9px;
}

.Navsec2 {
  margin: 0 0 0 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navsec1 {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  width: 50%;

}



.beforeclas {
  width: 100%;
  display: flex;
  justify-content: end;
  border-bottom: 1px solid #6adaff;
}

.navToggleBtn {
  background-color: #6adaff !important;
}

/* .beforeclas::after {
    content: "";
    position: absolute;
    width: 121%;
    height: 1px;
    top: 62px;
    background-color: #6ADAFF;
    right: 1%;
  } */

/* bannersection */

.rightbanersection {
  width: 100%;
  display: flex;
  justify-content: center;
}

.leftbanerservtion {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.bansection {
  width: 100%;
  padding: 320px 0 240px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bannerImgdiv {
  width: 300px;
  margin-top: 30px;
}

.bansection .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.bannerImg {
  width: 100%;
  transform: rotate(6deg);
  background: rgb(255 255 255 / 15%);
  border: 4px solid rgb(106 218 255 / 60%);
  border-radius: 20px;
}



.bheading {
  font-size: 46px;
  font-weight: bold;
  line-height: 65px;
  color: #FFFFFF;
  font-family: Orbitron;
  margin-bottom: 38px;
}

.b_heading {
  font-size: 69px;
  color: #FFFFFF;
}

.bparagraph {
  font-size: 16px;
  color: white;
  font-family: "poppins";
  line-height: 25px;
  padding: 0 0 0 60px;
}

/* introductionsection */
.introduction {
  background-color: #001233;
}

.Iheading {
  font-size: 46px;
  font-weight: bold;

  color: #FFFFFF;
  font-family: Orbitron;
  margin-bottom: 21px;

}

.Iparagraph {
  font-size: 16px;
  color: white;
  font-family: "poppins";
  line-height: 25px;


}

.introleftsection {
  margin-top: 72px;
  margin-bottom: 140px;
}

.introrightsection {
  margin-top: 202px;
  margin-bottom: 140px;
}

.introleftsection img{
  width: 100%;
}

/* introsecttion2 */
.introlefttsection2 {
  margin-top: 140px;

}

.introRighttsection2 {
  margin-top: 50px;
}

.focusheading {
  font-size: 46px;
  font-weight: bold;

  color: #FFFFFF;
  font-family: Orbitron;

}

.intrRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}





/* interpage */

.introEctionpage {
  width: 100%;
  background-color: #001233;
  padding: 0 0 34px 0;
}

.introContainerWidth {
  width: 90%;
  margin-top: 101px;


}

.imgdiv {
  margin: 0 0 0 35.1px;
}

.imgdiv:hover {
  transform: scale(1.2);
  transition: ease 1s;
}

.introhead {
  font-size: 46px;
  font-family: Orbitron;
  font-weight: bold;
  line-height: 65px;
  color: white;
  margin-top: 127px;
}

.intropayra {
  font-size: 16px;
  font-family: 'Poppins';
  line-height: 25px;
  color: white;
  margin-top: 32px;


}

.imgdiv1 {
  width: 300px;

}

.intrimg {
  transform: rotate(-15deg);
  width: 100%;
}

.inmain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 210px;
}

.introhead2 {
  font-size: 46px;
  font-weight: bold;
  font-family: orbitron;
  color: white;
}

.inmain2 {
  margin-top: 210px;
}

.intropayra2 {
  font-size: 16px;
  font-family: 'Poppins';
  line-height: 25px;
  color: white;
}

@media screen and (max-width: 992px) {
  .beforeclas {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Navsec2.navbar-nav {
    margin: 0;
  }

  .ankrtext {
    margin: 13px 0 8px 0;
  }

  .mintbutt {
    margin: 3px 0 9px 0;
  }

  .bparagraph {
    padding: 0;
  }

  .introleftsection {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .navbar-collapse {
    background-color: #020e74;
    z-index: 99999;
  }

  .mintbutt {
    width: 90px;
    height: 35px;
    font-size: 14px;

  }

  .icons {

    width: 35px;
    height: 35px;
  }

  .iconCircle svg {

    font-size: 16px;

  }

  .bannerImgdiv {

    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

  .bannerImg {
    width: 75%;
  }

  .introrightsection {
    margin: 50px 0 0 0;
  }

  .introlefttsection2 {
    margin: 50px 0 0 0;
  }

  .introRighttsection2 {
    margin-top: 25px;
  }

  .roadMaoContainer {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .containerFAQ {
    padding-top: 10rem;

  }

  .intrRow {
    margin-top: 60px;
  }
}


@media screen and (max-width: 767px) {
  .borderRight {
    border-right: none;
  }

  .boxEven {
    top: -51px;
  }

  .boxOdd {
    top: -51px;
  }

  .introleftsection img {
    width: 300px;
  }

  .introContainerWidth {
    flex-direction: column;
    align-items: center;
  }

  .imgdiv {
    margin: 0 0 20px 0;
    width: 200px;
  }

  .imgdiv1 {
    width: 200px;
  }

  .b_heading {
    font-size: 45px;
    color: #FFFFFF;
  }
}

/* @media screen and (max-width: 590px) {
  
} */

@media screen and (max-width: 365px) {
  .introleftsection img {
    width: 250px;
  }

  .footer-image-container {
    width: 250px;
  }

  .b_heading {
    font-size: 30px;
    color: #FFFFFF;
  }

  h1 {
    font-size: 2rem !important;
  }

  .navlogo {
    width: 65%;
  }

}