*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}
.footer
{
  background: #001233
}
.iconCircle
{
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-color: #6ADAFF;
  font-size: 24px;
  color: #001233;
}
.iconCircle:hover
{
  background-color:white;
  color: #6ADAFF;
  cursor: pointer;
}
.iconContainerWidth
{
  width: 15%;
   min-width:125px
}
.footerNavBorder
{
  border-top: 2px solid #6ADAFF;
}
.footerLinks
{
color:white;
}
.footerLinks:hover
{
color: #6ADAFF;
}