* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}
/* RoadMap Styling */
.roadMaoContainer
{
  background: #001233;
}
.borderRight
{
   border-right:2px solid #6ADAFF;
}
.borderBottom
{
   border-bottom:2px solid #6ADAFF;
}
.boxSquare
{
  border: 2px solid aqua;
  height: 50px;
  width: 50px;
  transform: rotate(45deg);
  background: #001233;
  color: white;
  font-size: 24px;
  position: absolute;
  top: -26px;
  right: -38px;
}
.boxEven
{
  top: -26px;
  right: -38px;
}
.boxOdd
{
  top: -26px;
  left: -38px;
}
.boxText
{
transform: rotate(-45deg);
}
.roadMapDesc
{
  font-family: 'Poppins', sans-serif;
}
/* faq heading */
.faq
{
  height: 200px;
  background-color:#001233;
  background-image: url('./assets/faqimage.png');
  background-size: 100% 100%;
  background-position: center;
  text-align: center;
}
/* Accordion Styling(FAQ) */
.accordionBackground
{
  background: linear-gradient(#0c487f 50%,#001233);
}
.accordionHeader button
{
  background: #001233 !important;
  display: unset !important;
  text-align: center;
  color: white !important;
  border: 1px solid #6ADAFF;
  box-shadow: 0px 3px 36px rgba(106, 218, 255 ,38%);
  text-transform: capitalize;
}
.description
{
  font-family: 'Poppins', sans-serif;
}
/* Footer Styling */
.footer {
  background: #001233
}
.iconCircle {
  height: 35px;
  width: 35px;
  border-radius: 100%;
  background-color: #6ADAFF;
  font-size: 24px;
  color: #001233;
}

.iconCircle:hover {
  background-color: white;
  color: #6ADAFF;
  cursor: pointer;
}

.iconContainerWidth {
  width: 15%;
  min-width: 125px
}

.footerNavBorder {
  border-top: 2px solid #6ADAFF;
}

.footerLinks {
  color: white;
}

.footerLinks:hover {
  color: #6ADAFF;
}

.footer-image-container {
  width: 346px
}
 /* "headersection" */
.bakcolor{
  position: absolute;
  width: 100%;}
  .ankrtext {
    color: white !important;
    font-size: 18px !important;
    font-family: 'Orbitron';
  }
  .icons {
    background-color: #6ADAFF ;
     width:44px;
     height:44px;
     display: flex;
     justify-content: center;
     align-items: center;
      border-radius: 100%;
  }
  .mintbutt {
    width: 122px;
      height: 44px;
    background-color: #6ADAFF;
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Orbitron';
    margin: 0 0 0 9px;
  }
  .Navsec2 {
    margin: 0 0 0 96px;
    display: flex;
      justify-content: center;
      align-items: center;
  }
  .Navsec1{
    display: flex;
      justify-items: center;
      align-items: center;
      margin: 0 190px 0 0;
  
  }
 
  
  
  .beforeclas {
    width: 100%;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid #6adaff;
}
  /* .beforeclas::after {
    content: "";
    position: absolute;
    width: 121%;
    height: 1px;
    top: 62px;
    background-color: #6ADAFF;
    right: 1%;
  } */
/* bannersection */

  .rightbanersection{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .leftbanerservtion{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .bansection {
    width: 100%;
    padding: 320px 0 240px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bannerImgdiv{
  width: 300px;
  margin-top: 30px;
}
.bansection .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.bannerImg {
  width: 100%;
  transform: rotate(
6deg
);
  background: rgb(255 255 255 / 15%);
  border: 4px solid rgb(106 218 255 / 60%);
  border-radius: 20px;
}



.bheading {
  font-size: 46px;
  font-weight: bold;
  line-height: 65px;
  color: #FFFFFF;
  font-family: Orbitron;
  margin-bottom: 38px;
}
.bparagraph {
  font-size: 16px;
  color: white;
  font-family: "poppins";
  line-height: 25px;
  padding: 0 0 0 70px;
}
/* introductionsection */
.introduction {
  background-color: #001233;
}
.Iheading{
  font-size: 46px;
  font-weight: bold;
  line-height: 65px;
  color: #FFFFFF;
  font-family: Orbitron;
  margin-bottom: 21px;

}
.Iparagraph{
  font-size: 16px;
  color: white;
  font-family: "poppins";
  line-height: 25px;

}
.introleftsection {
  margin-top: 72px;
  margin-bottom: 140px;
}

.introrightsection {
  margin-top: 202px;
  margin-bottom: 140px;
}
/* introsecttion2 */
.introlefttsection2{
  margin-top: 140px;

}
.introRighttsection2 {
  margin-top: 50px;
}

.focusheading{
  font-size: 46px;
  font-weight: bold;
  line-height: 65px;
  color: #FFFFFF;
  font-family: Orbitron;

}
.intrRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

